<div class="bg_gray">
    <div class="container margin_60_40">
        <div class="main_title center">
            <span><em></em></span>
            <h2>3Popular Categories</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
        </div>
        <!-- /main_title -->
        <div class="owl-carousel owl-theme categories_carousel">
            <div class="item">
                <a href="#0">
                    <span>98</span>
                    <i class="icon-food_icon_pizza"></i>
                    <h3>Pizza</h3>
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <span>87</span>
                    <i class="icon-food_icon_sushi"></i>
                    <h3>Japanese - Sushi</h3>
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <span>96</span>
                    <i class="icon-food_icon_burgher"></i>
                    <h3>Burghers</h3>
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <span>78</span>
                    <i class="icon-food_icon_vegetarian"></i>
                    <h3>Vegetarian</h3>
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <span>65</span>
                    <i class="icon-food_icon_cake_2"></i>
                    <h3>Bakery</h3>
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <span>65</span>
                    <i class="icon-food_icon_chinese"></i>
                    <h3>Κινέζικο</h3>
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <span>65</span>
                    <i class="icon-food_icon_burrito"></i>
                    <h3>Μεξικάνικο</h3>
                </a>
            </div>
        </div>
        <!-- /carousel -->
    </div>
    <!-- /container -->
</div>