<form method="post" action="grid-listing-filterscol.html">
    <div class="row g-0 custom-search-input">
        <div class="col-lg-4">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Ψάχνω για...">
                <i class="icon_search"></i>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input class="form-control" type="text" id="autocomplete" placeholder="Περιοχή...">
                <i class="icon_pin_alt"></i>
            </div>
        </div>
        <div class="col-lg-2 custom_select">
            <select class="wide">
                <option>Κουζίνα</option>	
                <option>Μεξικάνικη</option>
                <option>Ιταλική</option>
                <option>Ελληνική</option>
                <option>Κινέζικη</option>
                <option>Burghers</option>
                <option>Vegan</option>
            </select>
        </div>
        <div class="col-lg-2">
            <input type="submit" value="Αναζήτηση">
        </div>
    </div>
    <!-- /row -->
</form>